global !p
import jedi_expander
endglobal


post_jump "jedi_expander.expand_signatures(snip.cursor, force=True)"
snippet ( "Expand the current callable object" i
($1`!p
if not snip.c:
    snip.rv = jedi_expander.get_balanced_parenthesis()
`
endsnippet
